### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
postgres-data/
media/*/
!media/
static/*
!static/img
!static/css

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### PyCharm ###
.idea/

### Virtualenv ###
venv/

### mypy ###
.mypy_cache/

### Env vars ###
.env

### Unit tests / Coverage reports ###
.coverage
htmlcov/

### Production Outputs ###
*.out
listserv_emails.txt

### Production Scrits ###
rebootServer.sh

### Old settings directory ###
excsystem/