### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
postgres-data/
media
static/*
!static/.gitkeep

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### PyCharm ###
.idea/

### Virtualenv ###
venv/

### mypy ###
.mypy_cache/

### Env vars ###
.env
