[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.7"

[packages]
django-phonenumber-field = "==2.2.0"
names = "==0.3.0"
progressbar2 = "==3.39.3"
psycopg2 = "==2.7.7"
Pillow = "==5.4.1"
Django = "==2.1.7"
boto3 = "*"
django-storages = "*"
sentry-sdk = "*"
sqlparse = "*"
phonenumbers = "*"

[dev-packages]
django-minio-storage = "*"
flake8 = "==3.7.7"
isort = "==4.3.10"
mypy = "==0.670"
selenium = "==3.141.0"
yapf = "==0.26.0"
coverage = "*"
