[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.7"

[packages]
django-phonenumber-field = "==2.2.0"
names = "==0.3.0"
progressbar2 = "==3.39.2"
psycopg2 = "==2.7.7"
Pillow = "==5.4.1"
Django = "==2.1.7"
boto3 = "*"
django-storages = "*"
sentry-sdk = "*"
selenium = "==3.141.0"
sqlparse = "*"
phonenumbers = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]
black = "==18.9b0"
django-minio-storage = "*"
mypy = "==0.670"
coverage = "*"
pre-commit = "*"
