[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.8"

[packages]
django-phonenumber-field = "==5.2.0"
phonenumbers = "==8.12.31"
names = "==0.3.0"
progressbar2 = "==3.53.3"
Pillow = "==8.3.2"
Django = "==3.2.7"
boto3 = "==1.15.4"
django-storages = "==1.11.1"
sentry-sdk = "==1.4.0"
selenium = "==3.141.0"
sqlparse = "==0.4.2"
gunicorn = "==20.1.0"
django-heroku = "==0.3.1"
psycopg2-binary = "==2.9.1"
pyyaml = "==5.4.1"
ua-parser = "==0.10.0"
user-agents = "==2.2.0"
django-user-agents = "==0.4.0"
babel = "==2.9.1"
django-extensions = "*"

[dev-packages]
black = "==20.8b1"
django-minio-storage = "*"
mypy = "*"
coverage = "*"
pre-commit = "*"
