{% extends "kiosk/../base.html" %}

{% load static %}

{% block title %}Kiosk{% endblock %}

{% block content %}
<head>
   <style>
    .description p {
        width: 40%;
        margin-left: 100px;
        margin-top: 50px;
    }
   .content {
       width: 100%;
       margin-left: 200px;
       margin-top: 50px;
   }
    .content img {
        float: left;
    }

    .check-out p {
        left: 10px;
    }
    .check-out {
        width: 40%;
        margin-top: 100px;
        margin-left: 300px;
    }
   </style>
</head>
    {% if user.is_authenticated %}
        <div class="description">
            <p>The Excursion Club has tons of gear and equipment available to our members. All gear and equipment has limited availability, and members are allowed to check them out for a limited time on a first-come, first-serve basis.​</p>
        </div>
        <div class="content">
            <img src="{% static "img/hat.webp" %}" width="170px" alt="hat">
            <div class="check-out">
                <p>Scan a member or gear RFID tag to:</p>
                <ul>
                    <li>Check in gear</li>
                    <li>Check out gear</li>
                    <li>Tag or retag gear</li>
                </ul>
                <p>Or type in the RFID number</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
                {% if messages %}
                    <br>
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    Error
                                {% endif %} {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
