{% extends "kiosk/../base.html" %}

{% block title %}Kiosk{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>To check in gear scan the gear RFID tag</p>
    <p>To check out gear scan the member RFID tag</p>
    <p>Or type in the RFID number</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    <br>
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% endif %} {{ message }}
          </div>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% endblock %}