{% load static %}
<link rel="stylesheet" type="text/css" href="/static/image-picker.css">
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/image-picker.js"></script>
<script type="text/javascript">
    window.onload = document.getElementsByClassName("image-picker").imagepicker();
</script>

<div class="row1" style="height: 350px; width: 80%">
    <div class="col-10 btn-group btn-group-toggle" data-toggle="buttons" align="center">
        <select class="image-picker" id="id_picture" name="picture">
            {% for gearImage in image_options %}
                <option data-img-source="{{ gearImage.image.url }}"
                        value="{{ gearImage.pk }}">
                    {{ gearImage.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<!-- Initialize the image picker javascript -->

<div align="right">
    <a class="related-widget-wrapper-link add-related"
       id="add_id_picture"
       href="/admin/core/alreadyuploadedimage/add/?_to_field=id&amp;_popup=1"
       title="Add another certification">
            <img src="/static/admin/img/icon-addlink.svg" alt="Add">
    </a>

</div>

