{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>{% block title %}Kiosk{% endblock %}</title>
</head>
<body>
<main class="container">
    {% block content %}
        <img src="{% static "front_page/shaka.webp" %}" width="120px" alt="shaka">
        <h1>The Excursion Club UCSB</h1>
        <a href="{% url 'admin:index' %}"><button>Admin</button></a>
        <a href="{% url 'kiosk:home' %}"><button>Kiosk</button></a>
        <a href="https://www.excursionclubucsb.org/"><button>Information</button></a>
    {% endblock %}
</main>
</body>
</html>