<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

    <h1>Finish Signup Form</h1>
    <hr>

    <!-- Club information and instructions -->
    <article class="bg-tertiary mb-3">
        <div class="card-body">
            <div id="instructions">
                Please read and understand the club information below, and then fill out a short little quiz to finish the sign
                up process!
            </div>
            <br><br>
            <div id="clubInfo">
                Please be aware that the Excursion Club is a fully volunteer run organization. Everything that our staff does is unpaid, and motivated by our desire to get people outdoors and stoked. We ask that you do everything you can to make the operations of the club easy and fun. Please respect all of our rules, and always be aware that when you are on a trip our using our gear, you are a representative of the club. We try our best to MINIMIZE any negative impact on our NEIGHBOURS and surrounding community. If you are using watersports gear, please be as QUIET as possible when passing homes at early or late hours. Please ONLY USE THE BLUFFS to access the stairs to the ocean instead of using DP. We strive to be a POSITIVE effect for all of Isla Vista, YOU ARE NOW PART OF THE EFFORT!
                <br>
                <br>
                <h3>Rules:</h3>
                <ol style="list-style: decimal inside;">
                    <li>NEVER ever give your wristband/keyfob to your friend to use or check out gear for your friends; membership is an incredibly great deal, if someone wants to use our stuff, they need to sign up! Do not insult our VOLUNTEER staffers by trying to take advantage of us.</li>
                    <li>You can only check out 1 of each item type (1 sleeping bag, 1 tent, 1 stove). If you need 2 of something, have your friend come by and check things out themselves.</li>
                    <li>You are responsible for the gear until you drop it in the gear drop box. If you do not bring gear back by the deadline that means that somebody else can\’t use it! Don\’t make us call you.</li>
                    <li>Don\’t take out a Stand Up Paddleboard or Kayak until you have been certified to use that gear. They are very expensive, and potentially dangerous if you are not familiar with the area. Even if you are an expert, you still have to get certified. Certification is easy and fun; sign up for any of our weekly Kayak or SUP trips and let the staffer know you want to be certified.</li>
                    <li>Look before you leap. If you want to go enjoy watersports, check the water and wave conditions. An eight-foot day with heavy wind probably isn\’t a safe time to go kayaking. This is a metaphor for life really.</li>
                    <li>If something breaks, don\’t hide it! Just let us know so that we can fix or replace it. We understand that all our gear is heavily used and has a limited life span, we won\’t be mad.</li>
                    <li>Respect the house, gear, and neighborhood. Don\’t be loud or obnoxious to our neighbors. Do not try to steal other members. things. You are on camera and we do enjoy posting your photo so all our members can tell us who you are.</li>
                </ol>

                <br><br>
               <h3> How to Excursion:</h3>

                <br>
                <h5>How do I attend the weekly trips?</h5>
                <p>You will receive the weekly email every Tuesday featuring the list of trips for the week! The trip list changes every week. To get on the trips, contact the staff member who is leading the trip or fill out their google form (their email is provided next to each trip). The quicker it is that you send interest for a trip, the more likely it is that there will be space. Be enthusiastic in your emails!</p>

                <br>
                <h5>When and how can I check out club gear?</h5>
                <p>You can come to check out and return gear during reasonable hours of operation! Come to the house, located at 6840 DP, and a staff member will help you out. You will need your wristband to enter the gate to the house and check out gear. Lost wristbands can be replaced for $3.</p>

                <br>
                <h5>How do I check out Kayaks, Surfboards, and SUPs?</h5>
                <p>Unlock the gate with your wristband or key fob, grab the item you want, and head to the beach! NOTE: You MUST be certified to checkout Kayaks and SUPs.</p>

                <br>
                <h5>How do I get certified?</h5>
                <p>Go on one of the weekly trips staffers lead for SUPing and kayaking! After that, you will be certified in our system and able to check out these items.</p>

                <br>
                <h5>How long can I check out gear for?</h5>
                <p>You can check out most gear for up to two weeks. Be sure to specify with a staff member how long you want the gear. Please try to use gear for only as long as you need it. Certain items have limitations on duration. For example, SUPs, kayaks, and surfboards are for day use only, but a surfboard may be checked out for overnight use if you intend to go surfing early the next morning. To checkout a surfboard overnight, you must get permission from the Excursion Board in advance. Email info@excursionclubucsb.org to get permission!</p>

                <br>
                <h5>What if I am late to return gear?</h5>
                <p>We operate on a 3 Strike system for water-sports gear: If you return a SUP, kayak, or surfboard past your deadline a strike will be added to your membership. After 3 strikes, you will have demonstrated that you do not respect other members needs for the communal gear and your membership will be terminated.<br>
                    For land-based gear, we frequently check our system to look for overdue gear. You will be contacted if you have overdue gear, and failure to return gear may result in membership suspension/termination. Please be open with us if something breaks or gets lost! We are very understanding as long as there is communication!</p>

                <br>
                <h5>How should I get to the water using a Kayak/ SUP/Surfboard?</h5>
                <p>DO NOT USE DEL PLAYA TO ACCESS THE WATER WHEN USING OUR GEAR. It is our goal to minimize our impact on our neighbors, and to do so we always use the bluffs to get down to the Camino Majorca stairs. Simply cross the street from Excursion, walk to the bluff, and head to the stairs.</p>

                <br>
                <h5>How do I checkout a wetsuit?</h5>
                <p>Wetsuits are available in the wetsuit checkout system named INGRID (Intelligently Nifty Gear Return Implementation Device); however, INGRID no longer intelligent neither nifty. To use her, simply remove the wetsuit. To return your wetsuit, wash it in the three bins located to the right of INGRID, and drape the wetsuit over the PVC pipe in the locker.</p>

                <br>
                <br>
                <br>
                <h3>Other Things:</h3>
                <ul>
                    <li>If you don\’t get a response from a trip leader, be patient as they may be sending one mass email after everyone contacts them. If you\’ve waited a while, feel free to send a follow up message. We apologize if we ever miss one of your emails; we get metric tons of them and have to balance our unpaid time with the Excursion Club with our school and work.</li>
                    <li>If you change your phone number or email address, please send an email to info@excursionclubucsb.org and let us know ASAP.</li>
                    <li>If you go on a bunch of ExC trips and are extra stoked on the club, think about applying for staff! We are always looking for people willing to dedicate time to the club. Check out our FAQs section on the website (excursionclubucsb.org) to see the application process.</li>
                    <li>If you ever have any questions about club operations, shoot us an email at info@excursionclubucsb.org!</li>
                </ul>

                Thanks for reading all of that and becoming familiar with some of our rules. Running this club is an incredibly difficult task, and one we do not get paid for, so your compliance is greatly appreciated.


                Get stoked!
                The Excursion Club
            </div>
        </div>
        <br><br>
    </article>

    <div class="row justify-content-center">

        <!-- Membership info card (left side) -->
        <div class="col-xs-6">
            <div class="col-xs-10 pl-1 pr-4 pb-3">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Finish Sign up</h4>
                    </header>
                    <article class="card-body">
                        <form>
                            <table>
                                {% csrf_token %}
                                {{ form.as_table_member }}
                            </table>
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>

        <!-- Membership quiz card (right side) -->
        <div class="col-xs-6">
            <div class="col-xs-10 pl-4 pr-1 pt-3">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Membership Quiz</h4>
                    </header>
                    <article class="card-body">
                        <form>
                            <table>
                                {% csrf_token %}
                                {{ form.as_table_quiz }}
                            </table>
                        </form>
                    </article>
                </div>
            </div>
        </div>

    </div>
    <br><br><br>

    <div class="row justify-content-center">
        <div class="col-xs-6">
            <small class="text-muted">By clicking the 'Register' button, you confirm that you agree to oblige by all club policies.</small>
            <br><br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Register  </button>
            </div>
        </div>
    </div>
</div>
