<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

    <h1>Finish Signup Form</h1>
    <hr>

    <!-- Club information and instructions -->
    <article class="bg-tertiary mb-3">
        <div class="card-body">
            <div id="instructions">
                Please read and understand the club information below, and then fill out a short little quiz to finish the sign
                up process!
            </div>
            <br><br>
            <div id="clubInfo">
                Please be aware that the Climbing Club is a fully volunteer run organization. Everything that our staff does is unpaid, and motivated by our desire to get people outdoors and stoked. We ask that you do everything you can to make the operations of the club easy and fun. Please respect all of our rules, and always be aware that when you are on a trip our using our gear, you are a representative of the club. We try our best to MINIMIZE any negative impact on our NEIGHBOURS and surrounding community. We strive to be a POSITIVE effect for all of UW, YOU ARE NOW PART OF THE EFFORT!
                <br>
                <br>
                <h3>Rules:</h3>
                <ol style="list-style: decimal inside;">
                    <li>NEVER ever give your keyfob to your friend to use or check out gear for your friends; membership is an incredibly great deal, if someone wants to use our stuff, they need to sign up! Do not insult our VOLUNTEER staffers by trying to take advantage of us.</li>
                    <li>You can only check out 1 of each item type (1 sleeping bag, 1 tent, 1 stove). If you need 2 of something, have your friend come by and check things out themselves.</li>
                    <li>You are responsible for the gear until you drop it in the gear drop box. If you do not bring gear back by the deadline that means that somebody else can't use it! Don't make us call you.</li>
                    <li>Look before you leap. If you want to go enjoy some climbing, check the condition conditions. A howling thunderstorm with hail the size of golf balls is not a good time to be caught halfway up a wall. This is a metaphor for life really.</li>
                    <li>If something breaks, don't hide it! Just let us know so that we can fix or replace it. We understand that all our gear is heavily used and has a limited life span, we won't be mad.</li>
                    <li>Respect the staffers, gear, and neighborhood. Don't be loud or obnoxious.</li>
                    <li>Failure to respect any of the above rules will result in termination of your membership.</li>
                </ol>

                <br><br>
               <h3> How to Climbing Club:</h3>

                <br>
                <h5>How do I attend the weekly trips?</h5>
                <p>You will receive the weekly email every Tuesday featuring the list of trips for the week! The trip list changes every week. To get on the trips, contact the staff member who is leading the trip or fill out their google form (their email is provided next to each trip). The quicker it is that you send interest for a trip, the more likely it is that there will be space. Be enthusiastic in your emails!</p>

                <br>
                <h5>When and how can I check out club gear?</h5>
                <p>Come check out our gear room in the basement of the HUB! We hold office hours (see most recent email). If for whatever reason you can't make those hours, get in touch with one of our officers by emailing gear@climbingclubuw.org</p>

                <br>
                <h5>How long can I check out gear for?</h5>
                <p>You can check out most gear for up to a week. Please try to use gear for only as long as you need it. Certain items have limitations on duration.</p>

                <br>
                <h5>What if I am late to return gear?</h5>
                <p>Our system automatically checks for overdue gear and will notify you when gear you have becomes overdue. Failure to return gear may result in membership suspension/termination. Please be open with us if something breaks or gets lost! We are very understanding as long as there is communication!</p>

                <br>
                <h3>Other Things:</h3>
                <ul>
                    <li>If you don't get a response from a trip leader, be patient as they may be sending one mass email after everyone contacts them. If you've waited a while, feel free to send a follow up message. We apologize if we ever miss one of your emails; we get metric tons of them and have to balance our unpaid time with the Climbing Club with our school and work.</li>
                    <li>If you change your phone number or email address, please remember to update them on you profile page! Otherwise you will stop receiving emails from us.</li>
                    <li>If you go on a bunch of ExC trips and are extra stoked on the club, think about applying for staff! We are always looking for people willing to dedicate time to the club. Check out our FAQs section on the website (https://sites.uw.edu/climb/) to see the application process.</li>
                    <li>If you ever have any questions about club operations, shoot us an email at info@climbingclubuw.org!</li>
                </ul>

                Thanks for reading all of that and becoming familiar with some of our rules. Running this club is an incredibly difficult task, and one we do not get paid for, so your compliance is greatly appreciated.


                Get stoked!
                The Climbing Club
            </div>
        </div>
        <br><br>
    </article>

    <form method="post" enctype="multipart/form-data">

        <div class="row justify-content-center">

            <!-- Membership info card (left side) -->
            <div class="col-xs-6 mb-4">
                <div class="col-xs-10 pl-1 pr-4 pb-3">
                    <div class="card h-100">
                        <header class="card-header">
                            <h4 class="card-title mt-2">Personal Information</h4>
                        </header>
                        <article class="card-body">

                                <table>
                                    {% csrf_token %}
                                    {{ form.as_table_member }}
                                </table>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>

            <!-- Emergency Contact card (right side) -->
            <div class="col-xs-6 mb-4">
                <div class="col-xs-10 pl-1 pr-4 pb-3">
                    <div class="card h-100">
                        <header class="card-header">
                            <h4 class="card-title mt-2">Emergency Contact</h4>
                        </header>
                        <article class="card-body">
                                <table>
                                    {% csrf_token %}
                                    {{ form.as_table_emergency }}
                                </table>
                        </article>
                    </div>
                </div>
            </div>

        </div>

        <!-- Membership quiz card (below) -->
        <div class="row justify-content-center">
            <div class="col-xs-6">
                <div class="col-xs-10 pl-4 pr-1 pt-3">
                    <div class="card">
                        <header class="card-header">
                            <h4 class="card-title mt-2">Membership Quiz</h4>
                        </header>
                        <article class="card-body">
                                <table>
                                    {% csrf_token %}
                                    {{ form.as_table_quiz }}
                                </table>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="row justify-content-center">
            <div class="col-xs-6">
                <small class="text-muted">By clicking the 'Complete Registration' button, you confirm that you agree to oblige by all club policies.</small>
                <br>
                    <input type="submit" class="btn btn-primary btn-block" value="Complete Registration">
                <br><br>
            </div>
        </div>
    </form>
</div>
