{% extends "base_frontpage.html" %}

{% load static %}
{% load user_agents %}

<link rel="stylesheet" type="text/css" href="{% static 'img/style.css' %}">

{% block title %}The Climbing Club UW{% endblock %}

{% block content %}
<head>
   <style>
       .content {
           color: #fff;
           width: 100%;
           margin-top: 50px;
       }
        .header img {
            float: left;
        }
        .header h1 {
            position: relative;
            left: 10px;
        }
        .description p {
            width: 40%;
            margin-left: 80px;
        }


   </style>
</head>
   <div class="content">
       <div class="header">
           <img src="{% static "img/uwcclogo.png" %}" width="70px" alt="uwcclogo">
           <h1>The Climbing Club UW</h1>
       </div>
       <div class="description">
           <p>The Climbing Club at UW is an entirely student run, volunteer organization that is committed to getting people stoked on the outdoors</p>
       </div>
   </div>
{% endblock %}
