{% extends "kiosk/../base.html" %}

{% block title %}Kiosk{% endblock %}

{% block content %}
<head>
   <style>
   .content {
       margin-left: 100px;
       margin-top: 50px;
   }
   </style>
</head>
    <div class="content">
        <div class="card w-50 text-center">
            <div class="card-header">
                Login
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="action-button" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}