{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}

 <table>
     <tr>
         <td>
             <table>
                 <tr>
                     <td>Member Email: </td>
                     <td>{{ object.email }}</td>
                 </tr>
                 <tr>
                     <td>Phone Number: </td>
                     <td>{{ object.phone_number }}</td>
                 </tr>
             </table>
         </td>
         <td>
             <form action="">
                <input type="submit" value="Edit Contact Info" />
             </form>
         </td>
     </tr><tr>
         <td>Full Name : </td>
         <td>{{ object.get_full_name }}</td>
         <td>
             <form action="">
                <input type="submit" value="Change Name" />
             </form>
         </td>
     </tr><tr>
         <td>RFID: </td>
         <td>{{ object.rfid }}</td>
         <td>
             <form action="">
                <input type="submit" value="Change RFID" />
             </form>
         </td>
     </tr><tr>
         <td>Date Joined: </td>
         <td>{{ object.date_joined }}</td>
     </tr><tr>
         <td>Date Expires: </td>
         <td>{{ object.date_expires }}</td>
         <td>
             <form action="">
                <input type="submit" value="Extend Membership" />
             </form>
         </td>
     </tr><tr>
         <td>Picture: </td>
         <td>{{ object.picture }}</td>
     </tr>
</table>

{% endblock %}

{% block submit_buttons_bottom %}

{% endblock %}